@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
    width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #262626;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}